/*Fernando Jose Gonzalez Sierra UO277938*/

body { 
    display: grid;
    grid-template-columns: 1.1fr 1.1fr;
    grid-template-rows: 0.3fr 0.2fr 3.3fr 0.2fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: 
        "Menu  Menu"
        "Header  Header"
        "Content  Aside"
        "Footer  Footer";
}

/* 1 */
header {
    grid-area: Header;
}
/* 1 */
nav {
    grid-area: Menu;
}

/* 1 */
main {
    grid-area: Content;
}
/* 1 */
aside {
    grid-area: Aside;
}
/* 1 */
footer { 
    grid-area: Footer;
}


